.charts {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.charts h1 {
    margin: 1em;
    font-size: 2.5em;
    text-shadow: 1px 0.5px 0px #fff, 2.5px 1px 0px #aaa;
}

.charts .container-area {
    margin: 0 8px;
    width: calc(100% - 16px);
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

svg.type-relation {
    max-height: 80vh;
}

svg.type-relation .nodes circle {
    pointer-events: all;
}

svg.type-relation .nodes-text {
    pointer-events: all;
}

svg.scatter-chart {
    width: 100%;
    max-width: 650px;
}

svg.radar-chart {
    width: 100%;
    max-width: 650px;
}