.controls {
    transition: all 0.8s;
    flex-basis: 300px;
    flex-shrink: 0.6;
    padding: 8px !important;
    overflow: auto;
    background-color: #f5f5f5;
    margin: 0 !important;
    align-self: flex-start;
    min-height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.controls.hidden {
    flex-basis: 0;
    padding: 0 !important;
}

.controls-toggle {
    position: relative;
    top: 20px;
    font-size: 1.8em;
    left: calc(-1.8em - 4px);
}

.vertical-text {
    transform: rotate(-90deg);
    transform-origin: right, top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: right, top;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: right, top;
    position: absolute;
    border: 1px solid black;
    border-radius: 5px 0 0 0;
}