.controls {
    transition: all 0.5s;
    flex-basis: 300px;
    flex-shrink: 0.5;
    padding: 8px !important;
    margin: 0 !important;
    background-color: #f5f5f5;
    height: 100vh;
    overflow: hidden auto;
    align-self: flex-start;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    box-sizing: border-box;
}

.controls.hidden {
    flex-basis: 0;
    padding: 0 !important;
}

.controls-toggle {
    font-size: 1.8em;
    align-self: flex-start;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 2em;
}

.controls-toggle-inner {
    background-color: #ccc;
    border-radius:  0 0 0 10px;
    cursor: pointer;
    display: inline-flex;
    position: absolute;
    top: 4.9em;
    left: -4.9em;
}

.controls-toggle-inner span {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    border-left: 1px solid rgba(0, 0, 0, 0.18);
    white-space: nowrap;
    padding: 0 8px;
}

.controls-toggle-inner span.active {
    background-color: #f5f5f5;
}

.controls-toggle-inner span:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.18);
}

.controls-toggle-inner span:first-child {
    border-radius:  0 0 0 10px;
}

