.exterior img, .type-icons {
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

.exterior svg {
    font-size: 1.3em;
}

.exterior img:nth-child(2) {
    margin-top: -5px;
}

.exterior {
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
    margin-bottom: 5px;
    font-size: 1.4em;
    height: 3.5em;
}

.action_button {
    font-weight: bold;
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
}
