
th {
    min-width: 40px;
    line-height: 40px;
    font-size: 20px;
    border-radius: 3px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.values th {
    color: goldenrod;
}